.images {
    translate: 10%;
    scale: 1.2;
    transition: all 2s;
    animation: Netflix 30s ease-in-out 0s infinite;
}

.letteringIn {
    animation: LetteringIn 4s ease 0s 1 forwards;
}

.letteringOut {
    animation: LetteringOut 1s ease-in-out 0s 1 forwards;
}

@keyframes Netflix {
    0% {
        translate: 10%;
        scale: 1.2;
    }

    50% {
        translate: 0%;
        scale: 1;
    }

    100% {
        translate: 10%;
        scale: 1.2;
    }
}

@keyframes LetteringIn {
    0% {
        translate: -10%;
        opacity: 0;
        display: none;
    }
    1% {
        translate: -10%;
        opacity: 0;
        display: block;
    }
    75% {
        translate: -10%;
        opacity: 0;
        display: block;
    }

    100% {
        translate: 0%;
        opacity: 1;
        display: block;
    }
}
@keyframes LetteringOut {
    0% {
        translate: 0%;
        opacity: 1;
    }
    99% {
        translate: -10%;
        opacity: 0;
    }

    100% {
        translate: -10%;
        opacity: 0;
        display: none;
    }
}

.lettering {
}

.lettering h1,
.lettering p {
    font-size: 6rem;
    font-family: var(--font-licorice);
}

.lettering p:first-child,
.lettering p:last-child {
    font-family: var(--font-lora);
    max-width: 500px;
}

.lettering p:first-child {
    font-size: 2rem;
}
.lettering p:last-child {
    font-size: 1rem;
}
