/* @import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

body {
    color: rgb(var(--foreground-rgb));
    /* background-color: #777; */
}

h1 {
    font-family: "Gideon Roman", serif;
    font-weight: 400;
    font-style: normal;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
